{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="col-md-8 offset-md-2">
        <p class="text-secondary">Find a comfortable and suitable house using all search options.</p>
        <form class="d-flex input-group input-group-lg" role="search">
            <select class="form-control" name="" id="">
                {% if categories %}
                    {% for category in categories %}
                        <option value="{{ category.slug }}">{{ category.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <select class="form-control" name="" id="">
                <option value="sale">Sale</option>
                <option value="rent">Rent</option>
            </select>
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">
                <ion-icon name="search"></ion-icon>
            </button>
            <a class="btn btn-outline-primary" href="#"><ion-icon name="map"></ion-icon> Map</a>
        </form>
        <hr class="border border-primary border-1 opacity-75">
    </div>
    <div>
        <h3 class="mb-3 text-uppercase">Vip houses</h3>
        {% if houses %}
            <div class="row">
                {% for house in houses %}
                    <div class="col-md-3 mb-4">
                        <div class="card" style="width: 100%;">
                            {% if house.images.exists %}
                                <img src="{{ house.images.first.image.url }}" class="card-img-top" alt="{{ house.title }}">
                            {% else %}
                                <img src="" class="card-img-top" alt="Default image">
                            {% endif %}
                            <div class="card-body text-dark">
                                <h6 class="card-title">{{ house.title }}</h6>
                                <p class="card-text">{{ house.description|truncatewords:3 }}</p>
                                <a href="{% url 'details' house.id %}" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h3 class="text-center">No houses found.</h3>
        {% endif %}
    </div>
{% endblock %}